@tailwind base;
@tailwind components;
@tailwind utilities;

.borderBlack {
  @apply border border-black/10;
}

.scrollBody {
  width: 100vw;
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
}
